{{> singleProjectNav}}
<div id="fullpage">
    {{> patti }}
    <div id="mainbody">
        <div class="row inner">
        </div>
    </div>
</div>

{{> createIssue}}

<script type="text/template" id="issue-list-template">
    <table class="table issue-table">
        <thead>
            <tr>
                <% _.each(states, function(state) { %>
                <th data-thid="<%= state.id %>"><%= state.name %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
        <tr>
            <% _.each(states, function(state) { %>
            <td class="column">

                    <% _.each(state.issues, function(issue) { %>
                    <div data-id="<%= issue.id %>" class="issue card portlet  ui-widget ui-widget-content">
                        <a class="portlet-content">
                            <span class="id"><%= issue.priority %> #<%= issue.id %></span>
                            <span class="title"><%= issue.title %></span>
                        </a>
                    </div>
                    <% }); %>

            </td>
            <% }); %>
        </tr>
        </tbody>
    </table>
</script>

<script type='text/javascript' src='/javascripts/app/common/common-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/common-issue-listing.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/agile-issue-listing.js'></script>

<script type="text/javascript">
    $(document).ready(function(){
        var view = new IssueListingView({
            el:'.inner'
        });
    });
</script>