{{> singleProjectNav}}

<div id="fullpage">
    <div class="patti">
        <div class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sprints
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    <span class="pull-right">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-success">Submit New Issue</button>
    </span>
    </div>
    <div id="mainbody">
        <div class="row inner">
            <div>
                <div class="col-md-4">First</div>
                <div class="col-md-4">Second</div>
                <div class="col-md-4">Third</div>
            </div>
        </div>
    </div>
</div>

{{> createIssue}}

<script type='text/javascript' src='/javascripts/app/common/common-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-listing.js'></script>

<script type="text/javascript">
    $(document).ready(function(){
        var view = new IssueListingView({
            el:'#fullpage'
        });
    });
</script>