{{> singleProjectNav}}
<div id="fullpage">
    <div class="patti">
        <div class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sprints
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    <span class="pull-right">
        <button data-toggle="modal" data-target="#create-issue-view" class="btn btn-sm btn-success">Submit New Issue</button>
    </span>
    </div>
    <div id="mainbody">
        <div class="row inner">
        </div>
    </div>
</div>

{{> createIssue}}

<script type="text/template" id="issue-list-template">
    <table class="table issue-table">
        <thead>
            <tr>
                <% _.each(states, function(state) { %>
                <th><%= state.name %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <% _.each(issues, function(issue) { %>
                <span class="issue card">
                    <span class="id"><%= issue.priority %> #<%= issue.id %></span>
                    <span class="title"><%= issue.title %></span>
                </span>
                <% }); %>
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</script>

<script type='text/javascript' src='/javascripts/app/common/common-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-listing.js'></script>

<script type="text/javascript">
    $(document).ready(function(){
        var view = new IssueListingView({
            el:'.inner'
        });
    });
</script>