{{> singleProjectNav}}
<div id="fullpage">
    {{> patti }}
    <div id="mainbody">
        <div class="row inner">
        </div>
    </div>
</div>

{{> createIssue}}

<script type="text/template" id="issue-list-template">
    <table class="table issue-table">
        <thead>
        <tr>
            <td width="5%">Id</td>
            <td width="15%">Status</td>
            <td width="15%">Priority</td>
            <td width="50%">Title</td>
            <td width="15%">Assignee</td>
        </tr>
        </thead>
        <tbody>
        <% _.each(issues, function(issue) { %>
        <tr>
            <td>#<%= issue.id %></td>
            <td><%= issue.stateName %></td>
            <td><%= issue.priority %></td>
            <td>
                <a href="#"><%= issue.title %></a>
                <br/>
                <span class="font12 gray">created by Yasser Shaikh 5 mins ago.</span>
                <br/>
                <span class="font12 gray">updated by Sansa Stark just now.</span>
            </td>
            <td>Un-Assigned</td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type='text/javascript' src='/javascripts/app/common/common-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-create.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/common-issue-listing.js'></script>
<script type='text/javascript' src='/javascripts/app/issue/issue-listing.js'></script>

<script type="text/javascript">
    $(document).ready(function(){
        var view = new IssueListingView({
            el:'.inner'
        });
    });
</script>