<div class="container">
    <div id="signin" class="whitebox">
        <div class="form">
            <form action="/sign-in" method="post" class="form-signin" >
                <h3>Welcome Back!</h3>
                <div class="input">
                    <label for="username">Email address</label>
                    <input type="text" name="username" class="form-control" required autofocus tabindex="1" placeholder="username@example.com">
                </div>
                <div class="input">
                    <label class="pull-left" for="password">Password</label>
                    <input type="password" name="password" class="form-control" required  tabindex="2" placeholder="enter password">
                </div>
                {{#if error}}
                    <div class="error text-danger">
                        Invalid combination. Have another go!
                    </div>
                {{/if}}
                <div class="buttons">
                    <button class="btn btn-success" type="submit" tabindex="3">Sign in</button>
                </div>
                <div class="last-line">
                    <a href="/sign-up" class="" tabindex="4">I don't have an account yet.</a>
                </div>
            </form>
        </div>
    </div>
</div>