<div class="modal fade" id="create-issue-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a New Issue</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-8">
                    <div class="input form-group">
                        <div>
                            <input id="title" name="title" type="text" class="form-control" autofocus="autofocus" placeholder="Enter a one-line summary of the issue." />
                            <span class="help-block hidden"></span>
                        </div>
                    </div>
                    <div class="input form-group">
                        <label for="description" class="control-label">Description</label>
                        <div>
                            <textarea id="description" name="description" type="text" class="form-control" placeholder="Steps to reproduce, What you expected to see, and What you saw instead."></textarea>
                            <span class="help-block hidden"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 properties">
                    <div class="input form-group">
                        <label for="priority" class="control-label pull-left">Status :</label>
                        <div class="dropdown pull-left">
                            <button class="btn btn-link dropdown-toggle gray capital" type="button">
                                new/open
                            </button>
                        </div>
                    </div>
                    <div class="input form-group">
                        <label for="priority" class="control-label pull-left">Priority :</label>
                        <div class="dropdown pull-left">
                            <button class="btn btn-link dropdown-toggle" type="button" id="priorityDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Normal
                                <span class="caret"></span>
                            </button>
                            <ul class="priorityDdUl dropdown-menu" aria-labelledby="priorityDd" data-type="priority"></ul>
                        </div>
                    </div>
                    <div class="input form-group">
                        <label for="assignee" class="control-label pull-left">Assignee :</label>
                        <div class="dropdown pull-left">
                            <button class="btn btn-link dropdown-toggle" type="button" id="assigneeDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Un-assigned
                                <span class="caret"></span>
                            </button>
                            <ul class="assigneeDdUl dropdown-menu" aria-labelledby="assigneeDd" data-type="assignee">
                                <li><a href="#">Un-assigned</a></li>
                                <li><a href="#">Me</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Yasser Shaikh</a></li>
                                <li><a href="#">Neel Shah</a></li>
                                <li><a href="#">Ali Rizvi</a></li>
                                <li><a href="#">Ian Fonseca</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="input form-group">
                        <label for="sprints" class="control-label pull-left">Sprints :</label>
                        <span class="help"><a href="/">setup sprints</a></span>
                    </div>
                    <div class="input form-group">
                        <label for="categories" class="control-label pull-left">Category :</label>
                        <span class="help"><a href="/">setup categories</a></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h5 id="creatingError" style="display: none;" class="input text-danger">Oops! Something went wrong.</h5>
                <button id="createBtn" class="btn btn-sm btn-success">Create Issue</button>
                <button id="creatingBtn" class="btn btn-success" disabled="disabled" style="display: none;">Submitting Issue...</button>
                <button data-dismiss="modal" class="btn btn-sm btn-link">cancel</button>
            </div>
        </div>
    </div>
</div>