<div class="overlay overlay-scale">
    <img class="overlay-close" src="/images/cross.png" />
    <div class="popup">
        <h2 class="col-md-12">Create a New Issue</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="input form-group">
                    <label for="username" class="control-label">Title</label>
                    <div>
                        <input id="name" name="name" type="text" class="form-control" autofocus="autofocus" placeholder="Project X" />
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="input form-group">
                    <label for="username" class="control-label">Description</label>
                    <div>
                        <textarea id="name" name="name" type="text" class="form-control"></textarea>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="input form-group">
                    <button class="btn btn-sm btn-default">Create Issue</button>
                    <button class="btn btn-sm btn-default">Create and Add Another</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input form-group">
                    <label for="username" class="control-label">Sprint</label>
                    <div>
                        <select id="team" name="team" class="form-control">
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="input form-group">
                    <label for="username" class="control-label">Assignee</label>
                    <div>
                        <select id="team" name="team" class="form-control">
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="input form-group">
                    <label for="username" class="control-label">Priority</label>
                    <div>
                        <select id="team" name="team" class="form-control">
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="input form-group">
                    <label for="username" class="control-label">Category</label>
                    <div>
                        <select id="team" name="team" class="form-control">
                        </select>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>