<div class="patti">
    <div class="dropdown pull-left">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sprints
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">15th July 2016</a></li>
            <li><a href="#">22nd July 2016</a></li>
            <li><a href="#">Beta Release</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Go Live</a></li>
        </ul>
    </div>
    <span class="pull-right">
        <button data-toggle="modal" data-target="#create-issue-view" class="btn btn-sm btn-success">Submit New Issue</button>
    </span>
    <span class="loading pull-right">
        <img src="/images/loader.gif" /> Loading...
    </span>
</div>