<div class="secnav">
    <a href="/" class="{{#if activeSubPg.projects}}active{{/if}} item menu">All Projects</a>
    <a href="/projects/create" class="{{#if activeSubPg.create}}active{{/if}} item menu"><i class="material-icons md-18">add</i>New Project</a>
</div>