<div class="secnav">
    <a href="/" class="{{#if activeSubPg.issues}}active{{/if}} item menu">Issues</a>
    <a href="/projects/create" class="{{#if activeSubPg.documents}}active{{/if}} item menu">Documents</a>
    <a href="/projects/create" class="{{#if activeSubPg.settings}}active{{/if}} item menu">Settings</a>
</div>