<div class="secnav">
    <a href="/teams" class="{{#if activeSubPg.teams}}active{{/if}} item menu">Teams</a>
    <a href="/teams/create" class="{{#if activeSubPg.create}}active{{/if}} item menu"><i class="material-icons md-18">add</i>New Team</a>
</div>