<div class="secnav">
    <div class="item">Project name</div>
    <div class="item">settings</div>
    <div class="item">Issues</div>
    <div class="item">Milestones</div>
    <div class="item">+ New Issue</div>
</div>