<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script type='text/javascript' src='/javascripts/jquery-2.2.4.min.js'></script>
  <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
  <script type='text/javascript' src='/javascripts/underscore-min.js'></script>
  <script type='text/javascript' src='/javascripts/backbone-min.js'></script>
  <script type='text/javascript' src='/javascripts/backbone-validation-min.js'></script>
  <script type='text/javascript' src='/javascripts/app/common/resource-manager.js'></script>
  <script type='text/javascript' src='/javascripts/app/common/utils.js'></script>
  <body>
  <div class="main">
          {{#if user}}
              {{> header}}
              <div class="loggedin-container">
                  {{{body}}}
              </div>
          {{else}}
              <div class="loggedout-container">
                  {{{body}}}
              </div>
          {{/if}}
      </div>
      {{> footer}}
  </body>
</html>
