{{> teamNav}}
<div id="mainbody">
    <div class="row inner"></div>
</div>

<script type="text/template" id="team-list-template">
    <% if (teams.length !== 0) { %>
    <div>
        <% _.each(teams, function(team) { %>
        <div class="team-card">
            <div class="item posrel">
                <div class="pull-left">
                    <h4><%= team.name %></h4>
                </div>
                <div class="clearfix">
                    <ul>
                        <li><a href="/teams/<%= team.id %>/members"><i class="fa fa-briefcase"></i><%= team.projectCount %> projects</a></li>
                        <li><a href="/teams/<%= team.id %>/members"><i class="fa fa-user"></i><%= team.userCount %> members</a></li>
                        <li><a href="/teams/<%= team.id %>/members"><i class="fa fa-cog"></i>settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
    <div>No teams.</div>
    <% } %>
</script>


<script type='text/javascript' src='/javascripts/app/team/team-list.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        var teamView = new TeamListView({
            el: '.inner'
        });
    });
</script>