{{> teamNav}}
{{#if showWelcomeMessage}}
    <div class="alert alert-warning text-center">Welcome aboard {{user.firstname }} {{user.lastname }}! Let's setup your first team...</div>
{{/if}}
<div id="create-team-holder" class="inner">
    <form>
        <blockquote class="">A team is a group of people and projects. It will help you keep your company, team or projects organized.</blockquote>
        <br/>
        <div class="input form-group">
            <label for="username" class="control-label">Team Name</label>
            <div>
                <input id="name" name="name" type="text" class="form-control" autofocus="autofocus" placeholder="The Avengers" />
                <span class="help-block hidden"></span>
            </div>
        </div>
        <h5 id="creatingError" style="display: none;" class="input text-danger">Oops! Something went wrong.</h5>
        <div class="input">
            <button id="createBtn" class="btn btn-success">Create Team</button>
            <button id="creatingBtn" class="btn btn-success" disabled="disabled" style="display: none;">Creating Team...</button>
        </div>
    </form>
</div>

<script type='text/javascript' src='/javascripts/app/common/common-create.js'></script>
<script type='text/javascript' src='/javascripts/app/team/team-create.js'></script>
<script type="text/javascript">
    $(document).ready(function(){
        var teamView = new TeamCreateView({
            el: 'form',
            model: new TeamCreateModel()
        });
    });
</script>