{{> teamNav}}
<div id="mainbody">
    <div>
        <h3>People</h3>
        <blockquote class="">A team is a group of people and projects. It will help you keep your company, team or projects organized.</blockquote>
        <div class="row inner"></div>
    </div>
    <div>
        {{> singleTeamNav}}
    </div>
</div>