<h1>Api list</h1>

<h4>Users</h4>
<table class="table table-bordered">
    <tr>
        <th>Type</th>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            <b>GET</b>
        </td>
        <td>
            <a target="_blank" href="{{baseUrl}}/users/">
                {{baseUrl}}/users/
            </a>
        </td>
        <td>Get a list of users registered with the system.</td>
    </tr>
    <tr>
        <td>
            <b>GET</b>
        </td>
        <td>
            <a target="_blank" href="{{baseUrl}}/users/{id}">
                {{baseUrl}}/users/{id}
            </a>
        </td>
        <td>Finds user by it's id.</td>
    </tr>
</table>
